{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

<div class="container">
<div class="row">
    <div class="col-sm-3">
    {% block menu %}
        {{ parent() }}
    {% endblock %}
    </div>
    <div class="col-sm-3">
    <h5>{{ conference.titre}}</h5>
    <p>{{ conference.description}}</p>
    <p><b>lieu:</b> {{ conference.lieu}}</p>
    <p><b>prix:</b> {{ conference.prix}}</p>
    <p>{{ conference.date|date("d m Y h:i:s")}}</p>

    {% if is_granted('POST_EDIT', conference) %}
    <a href="{{ path('app_conference.edit', {'id':conference.id})}}">modifier</a>
    {% endif %}
    {% if is_granted('POST_DELETE', conference) %}
    <a href="{{ path('app_conference.supprimer', {'id':conference.id})}}">supprimer</a>
    {% endif %}
    {# <a href="{{ path('app_conference.reservation', {'id':conference.id})}}">reserver</a> #}
    {# ceci permet d'envoyer idConference=2 par exemple sur l'url #}
    {# <a href="?idConference={{conference.id}}">commenter</a> #}

    {% if is_granted('POST_COMMENT', conference) %}
     <a href="{{ path('app_conference.commenter', {'id':conference.id})}}">commenter</a>
    {% endif %}
<form method="post" action="{{ path('app_panier', {'id':conference.id})}}">
    <input type="hidden" name="idConference" value="{{conference.id}}">
    <select name="quantite">
        {% for i in range(1, 10) %}
          <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select><br>
    <input type="submit" value="Ajouter au panier" />
</form>

{# je teste si idConference=2 est sur l'url affiche moi le formulaire #}
{# app.request.query.get('idConference') est l'équivalent de $_GET['idConference'] #}
{# app.request.request.get('idConference') est l'équivalent de $_POST['idConference'] #}
    {# {% if app.request.query.get('idConference') is not empty %} #}
        {# si on soummet le formulaire , les informations du formulaires seront traitées sur la route qui a comme nom           app_conference.commenter et comme parametre id#}
        {# <form action="{{ path('app_conference.commenter', {'id':conference.id})}}"  method='post'>
        {# <form action="/conference/commenter/{{conference.id}}"  method='post'> 
            <input type="text" name="pseudo" /><br><br>
            <textarea name="contenu"></textarea> <br><br>
            <input type="submit" value="commenter" />
        </form> #}
        {# {% endif %} #}
    {# {% endif %} #}

{# deuxieme methode #}
        {% if form is defined %} 
             {{ form_start(form, {'action': path('app_conference.commenter', {'id':conference.id}), 'method': 'POST'}) }}
                    {{ form(form)}}
            {{ form_end(form) }}
        {% endif %}

    {% if commentaires is defined %}
        {% for commentaire in commentaires %}
           {{ commentaire.getPseudo() }} : 
           {{ commentaire.getContenu() }} <br><br>
        {% endfor %}
    {% endif %}
        
    </div>
</div>
</div>
{% endblock %}
