{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

<div class="container">
<div class="row">
{% for conference in conferences %}
    <div class="col-sm-3">
    </div>
    <div class="col-sm-6">
    <h5>{{ conference.titre}}</h5>
    <p>{{ conference.description}}</p>
    <p><b>lieu:</b> {{ conference.lieu}}</p>
    <p><b>prix:</b> {{ conference.prix}}</p>
    <p>{{ conference.date|date("d m Y h:i:s")}}</p>
    <a href="{{ path('app_conference.details', {'id':conference.id})}}">details</a>
    <a href="{{ path('app_conference.edit', {'id':conference.id})}}">modifier</a>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}
